## Commands

/o1: o1 is the smarter AI model in the world. This command means that you’re stuck in a problem that you are trying to solve and you need the help of o1. To get help from o1 you have to answer with the context of the problem, recollect and give in a list the path of all the related files needed as context to resolve the problem. The wait for the output of o1.

## Skills
Skills are the things that you can do by autonomouslyby yourself.

* If you feel you're stuck, you can invoke by yourself the command o1 to get help from o1 model