.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
out/**
webpack.config.js
.eslintignore
.prettierrc
.prettierignore
**/*.vsix
.editorconfig
.npmrc
.nvmrc
.DS_Store
coverage/**
test/**
**/jest.config.js
**/__tests__/**
**/__mocks__/**
**/*.test.ts
**/*.spec.ts

# Keep only necessary files
!src/webview/ui/**
!dist/** 